extends layout

block content
    .container-fluid.stat-summary
        .container
            .row
                .col-sm-4.col-md-4.col-lg-3
                    .row
                        .col-sm-12.col-md-12.col-lg-12 
                            h3 !{results.searchTerm}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 YOUR SEARCH TERM
                .col-sm-3.col-md-2.col-lg-2
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h2.highlight #{results.total}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 TOTAL LISTINGS
                .col-sm-3.col-md-2.col-lg-2
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h2.highlight !{results.tagsSorted.length}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 TAG SUGGESTIONS
                .col-sm-2.col-md-2.col-lg-2
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h2.highlight !{results.viewsDaily}
                    .row
                        .col-sm-12.col-md-12.col-lg-12
                            h6 AVERAGE DAILY VIEWS
        .container-fluid
            .row
                .col-lg-5.col-lg-offset-1.toggle-results
                    div(role='tabpanel')
                        ul.nav.nav-tabs.nav-justified(role='tablist')
                            li.active(role='presentation')
                                a(href='#home', aria-controls='home', role='tab', data-toggle='tab').small TAGS
                            li(role='presentation')
                                a(href='#profile', aria-controls='profile', role='tab', data-toggle='tab').small LISTINGS
    .container
        .row
            .col-lg-12
                .tab-content
                    .tab-pane.active(role='tabpanel', id='home')
                        include dashboard-tags
                    .tab-pane(role='tabpanel', id='profile')
                        include dashboard-listings
                            

    .container
        .row
            .col-sm-9.col-md-9.col-lg-8
                each item in results.listings
                        .col-sm-12.col-md-12.col-lg-12
                            .div.listing-card
                                .row
                                    .col-sm-3.col-md-3.col-lg-3.img
                                        img(src='#{item.MainImage.url_170x135}').img-responsive
                                    .col-sm-9.col-md-9.col-lg-9
                                        .row
                                            .col-md-12.col-lg-12 
                                                a(href='#{item.url}', target='_blank') !{item.title}
                                        .row
                                            .hidden-sm.col-md-12.col-lg-12
                                                span.small VIEWS:&nbsp;&nbsp;
                                                | !{item.views}
                                                span.small.pad-left FAVS:&nbsp;&nbsp;
                                                | !{item.num_favorers} 
                                                span.small.pad-left CREATED:&nbsp;&nbsp;
                                                | !{item.creationDate}
                                                span.small.pad-left PRICE:&nbsp;&nbsp;
                                                | $!{item.price}
                                                span.small.pad-left AVG. DAILY VIEWS:&nbsp;&nbsp;
                                                span !{item.viewsDaily}
                                            .visible-sm.col-sm-12.small-stat-row
                                                span.small VIEWS:&nbsp;&nbsp;
                                                | !{item.views} 
                                                span.small.pad-left FAVS:&nbsp;&nbsp;
                                                | !{item.num_favorers} 
                                                span.small.pad-left CREATED:&nbsp;&nbsp;
                                                | !{item.creationDate}
                                                br
                                                span.small PRICE:&nbsp;&nbsp;
                                                | $!{item.price}
                                                span.small.pad-left AVG. DAILY VIEWS:&nbsp;&nbsp;
                                                span !{item.viewsDaily}
                                        .row.hidden-sm
                                            .col-md-12.col-lg-12
                                                each tag in item.tags     
                                                    a(href='/search?tag=#{tag}').tag #{tag}
                                .row.visible-sm
                                    .col-sm-12.sm-view-tags
                                        each tag in item.tags     
                                            .tag #{tag}
