div
    .row
        .col-xs-12.col-sm-12.col-md-12.col-lg-12
            .panel.panel-default
                .panel-heading
                    .row.sort-listings
                        .col-xs-12.col-sm-12.col-md-12.col-lg-12
                            ul.nav.nav-pills
                                li#sort-daily(role='presentation'): a(href='?sort=daily') Daily views
                                li#sort-price(role='presentation'): a(href='?sort=price') Price
                                li#sort-creation(role='presentation'): a(href='?sort=creation') Most recent
                                li#sort-relevancy(role='presentation'): a(href='?sort=relevancy') Most relevant
                                li#sort-favorites(role='presentation'): a(href='?sort=favorites') Favorites
                                li#sort-views(role='presentation'): a(href='?sort=views') Views
                .panel-body
                    each item in results.listings
                        .row.listing
                            .visible-xs.col-xs-12.hidden-sm.hidden-md.hidden-lg
                                img(src='#{item.imageUrl}').img-responsive
                            .hidden-xs.col-sm-4.col-md-3.col-lg-3
                                img(src='#{item.imageUrl}').img-responsive
                            .col-xs-12.col-sm-8.col-md-9.col-lg-9
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        a(href='#{item.url}', target='_blank') #{item.title}
                                .row
                                    .visible-xs.col-xs-12.hidden-sm.hidden-md.hidden-lg
                                        span.stat-label Creation date:
                                        span.product-stat #{item.creationDate}
                                        span.stat-label Price:
                                        span.product-stat $#{item.price}
                                        span
                                            br
                                        span.stat-label Views:
                                        span.product-stat #{item.views}
                                        span.stat-label Favorites:
                                        span.product-stat #{item.num_favorers}
                                        span.stat-label Avg. daily views:
                                        span.product-stat #{item.viewsDaily}
                                    .hidden-xs.col-sm-12.col-md-12.col-lg-12
                                        span.stat-label Creation date:
                                        span.product-stat #{item.creationDate}
                                        span.stat-label Price:
                                        span.product-stat $#{item.price}
                                        span.stat-label Views:
                                        span.product-stat #{item.views}
                                        span.stat-label Favorites:
                                        span.product-stat #{item.num_favorers}
                                        span.stat-label Avg. daily views:
                                        span.product-stat #{item.viewsDaily}
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        span.stat-label Shop: 
                                        a(href='#{item.shop.url}', target='_blank') #{item.shop.shop_name}
                                .row
                                    .col-xs-12.col-sm-12.col-md-12.col-lg-12
                                        each tag in item.tags
                                            a(href='/search?tag=#{tag}').tag #{tag}
