div
    .row
        .col-lg-12
            .panel.panel-default
                .panel-heading
                    .row.sort-listings
                        .col-lg-12
                            ul.nav.nav-pills
                                li#sort-daily(role='presentation'): a(href='?sort=daily') Daily views
                                li#sort-price(role='presentation'): a(href='?sort=price') Price
                                li#sort-creation(role='presentation'): a(href='?sort=creation') Most recent
                                li#sort-relevancy(role='presentation'): a(href='?sort=relevancy') Most relevant
                                li#sort-favorites(role='presentation'): a(href='?sort=favorites') Favorites
                                li#sort-views(role='presentation'): a(href='?sort=views') Views
                .panel-body
                    each item in results.listings
                        .row.listing
                            .col-lg-3
                                img(src='#{item.MainImage.url_170x135}').img-responsive
                            .col-lg-9
                                .row
                                    .col-lg-12
                                        a(href='#{item.url}', target='_blank') !{item.title}
                                .row
                                    .col-lg-12
                                        span.stat-label Creation date:
                                        span.space-right !{item.creationDate}
                                        span.stat-label Price:
                                        span.space-right $!{item.price}
                                        span.stat-label Views:
                                        span.space-right !{item.views}
                                        span.stat-label Favorites:
                                        span.space-right !{item.num_favorers}
                                        span.stat-label Avg. daily views:
                                        span.space-right !{item.viewsDaily}
                                .row
                                    .col-lg-12
                                        each tag in item.tags
                                            a(href='/search?tag=#{tag}').tag #{tag}
