.container
    .row.sort-listings
        .col-lg-10.col-lg-offset-1
            ul.nav.nav-pills
                li#sort-daily(role='presentation'): a(href='?sort=daily') DAILY VIEWS
                li#sort-price(role='presentation'): a(href='?sort=price') PRICE
                li#sort-creation(role='presentation'): a(href='?sort=creation') MOST RECENT
                li#sort-relevancy(role='presentation'): a(href='?sort=relevancy') MOST RELEVANT
                li#sort-favorites(role='presentation'): a(href='?sort=favorites') FAVORITES
                li#sort-views(role='presentation'): a(href='?sort=views') VIEWS
    .row
        .col-lg-10.col-lg-offset-1
            each item in results.listings
                .col-lg-12
                    .div.listing-card
                        .row
                            .col-lg-3
                                img(src='#{item.MainImage.url_170x135}').img-responsive
                            .col-lg-9
                                .row
                                    .col-lg-12 
                                        a(href='#{item.url}', target='_blank') !{item.title}
                                .row
                                    .col-lg-12
                                        span.small VIEWS:&nbsp;&nbsp;
                                        | !{item.views}
                                        span.small.pad-left FAVS:&nbsp;&nbsp;
                                        | !{item.num_favorers} 
                                        span.small.pad-left CREATED:&nbsp;&nbsp;
                                        | !{item.creationDate}
                                        span.small.pad-left PRICE:&nbsp;&nbsp;
                                        | $!{item.price}
                                        span.small.pad-left AVG. DAILY VIEWS:&nbsp;&nbsp;
                                        span !{item.viewsDaily}
                                .row
                                    .col-md-12.col-lg-12
                                        each tag in item.tags     
                                            a(href='/search?tag=#{tag}').tag #{tag}
